{% extends "base.html" %}


{% block status %} ({{ user }}){% endblock %}

{% block scripts %}
<script src="/static/js/form.js"></script>
{% endblock %}

{% block content %}
<!-- Command tab sections-->
<div class="row">

    <div class="span4">
        <div class="well" style="padding: 8px 0">
            {% include 'tab_bar.html' %}
        </div>
    </div>

    <div class="span8">

        <!-- Box holding the command forms -->
        <div class="row">
            <div class="span8">
                <div class="well tab-content">
                    {% for command in form.COMMANDS %}
                    {% include "single_command_form.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Box holding the user summary table -->
        <div class="row">
            <div class="span8">
                <div class="well">

                    <a id="refresh-button" class="btn" href="#"><i class="icon-refresh"></i> Refresh</a>

                    <h3>Account</h3>
                    <table id="account-table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Account Balance</th>
                                <th>Reserve Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ user }}</td>
                                <td>
                                    <code id="account-balance">...</code>
                                </td>
                                <td>
                                    <code id="reserve-balance">...</code>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Transactions</h3>
                    <table id="transaction-table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Operation</th>
                                <th>Stock Symbol</th>
                                <th>Stock Value</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <h3>Stocks</h3>
                    <table id="stock-table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Stock Symbol</th>
                                <th>Stock Quantity</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>


                    <h3>Triggers</h3>
                    <table id="trigger-table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Operation</th>
                                <th>Stock Symbol</th>
                                <th>Stock Value</th>
                                <th>Trigger Value</th>
                                <th>Quantity</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block templates %}
{% raw %}
<script id="transaction" type="text/html">
<tr>
    <td>{{ operation }}</td>
    <td>{{ stock_symbol }}</td>
    <td><code>{{ stock_value }}</code></td>
    <td><i class="{{ status_icon }}"></i></td>
</tr>
</script>
<script id="stock" type="text/html">
<tr>
    <td>{{ stock_symbol }}</td>
    <td>{{ quantity }}</td>
</tr>
</script>
<script id="trigger" type="text/html">
<tr>
    <td>{{ operation }}</td>
    <td>{{ stock_symbol }}</td>
    <td><code>{{ amount }}</code></td>
    <td><code>{{ trigger_value }}</code></td>
    <td>{{ quantity }}</td>
    <td><i class="{{ status_icon }}"></i></td>
</tr>
</script>
{% endraw %}

<div class="modal hide" id="command-output-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Stuff</h3>
  </div>
  <pre class="modal-body">
  </pre>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
  </div>
</div>
{% endblock %}

