<!doctype html>

<head>

<meta charset="utf-8">
<title>Client Input Form</title>


</head>

<body>

<form action="/", method="POST", name="client_form">

	<input type="text" name="username" id ="username">
	<label for="username"> Username </label><br><br>
	
	<input type="radio" name="action" value ="add money" id ="add money">
	<label for="add money"> add money </label><br>
	<input type="radio" name="action" value ="get quote" id="get quote"> 
	<label for="get quote"> get quote </label><br>
	<input type="radio" name="action" value ="buy shares" id= "buy shares"> 
	<label for="buy shares"> buy shares </label><br>
	<input type="radio" name="action" value ="sell shares" id="sell shares">
	<label for="sell shares"> sell shares </label><br>
	<input type="radio" name="action" value ="set automated point" id="set automated point">
	<label for="set automated point"> set automated point </label><br>
	<input type="radio" name="action" value ="review transaction list" id="review transaction point">
	<label for="review transaction list"> review transaction list </label><br>
	<input type="radio" name="action" value ="cancel transaction" id ="cancel transaction"> 
	<label for="cancel transaction"> cancel transaction </label><br>
	<input type="radio" name="action" value ="commit transaction" id ="commit transaction">
	<label for="commit transaction"> commit transaction </label><br>
	<input type="radio" name="action" value ="dump log" id ="dump log">
	<label for="dump log"> dump log </label><br><br>
	
	<fieldset>

		<legend align="center">Inputs</legend>
		
		<input type="text" name="money value" id ="money value">
		<label for="money value"> Input Monetary Value </label><br>

		<input type="text" name="stock quantity" id ="stock quantity">
		<label for="stock quantity"> Stock Quantity </label><br>
		
		<input type="text" name="stock symbol" id ="stock symbol">
		<label for="stock symbol"> Stock Symbol </label><br>
		
		<input type="text" name="set point" id ="set point">
		<label for="set point"> Stock Set Point (Buy/Sell) </label><br>
		

	</fieldset>

	<input type="submit" value="Continue">

</form>

</body>

