<ul id="command-tabs" class="nav nav-list">
    <li class="nav-header">Add Funds</li>
    <li><a href="#ADD" data-toggle="tab"><i class="icon-plus-sign"></i> {{ form.ADD.label }}</a></li>

    <li class="nav-header">Get Stock Quotes</li>
    <li><a href="#QUOTE" data-toggle="tab"><i class="icon-signal"></i> {{ form.QUOTE.label }}</a></li>

    <li class="nav-header">Buy Stocks</li>
    <li><a href="#BUY" data-toggle="tab"><i class="icon-shopping-cart"></i> {{ form.BUY.label }}</a></li>
    <li><a href="#COMMIT_BUY" data-toggle="tab"><i class="icon-ok"></i> {{ form.COMMIT_BUY.label }}</a></li>
    <li><a href="#CANCEL_BUY" data-toggle="tab"><i class="icon-remove"></i> {{ form.CANCEL_BUY.label }}</a></li>

    <li class="nav-header">Sell Stocks</li>
    <li><a href="#SELL" data-toggle="tab"><i class="icon-shopping-cart"></i> {{ form.SELL.label }}</a></li>
    <li><a href="#COMMIT_SELL" data-toggle="tab"><i class="icon-ok"></i> {{ form.COMMIT_SELL.label }}</a></li>
    <li><a href="#CANCEL_SELL" data-toggle="tab"><i class="icon-remove"></i> {{ form.CANCEL_SELL.label }}</a></li>

    <li class="nav-header">Automatically Buy Stocks</li>
    <li><a href="#SET_BUY_AMOUNT" data-toggle="tab"><i class="icon-shopping-cart"></i> {{ form.SET_BUY_AMOUNT.label }}</a></li>
    <li><a href="#SET_BUY_TRIGGER" data-toggle="tab"><i class="icon-screenshot"></i> {{ form.SET_BUY_TRIGGER.label }}</a></li>
    <li><a href="#CANCEL_SET_BUY" data-toggle="tab"><i class="icon-remove"></i> {{ form.CANCEL_SET_BUY.label }}</a></li>

    <li class="nav-header">Automatically Sell Stocks</li>
    <li><a href="#SET_SELL_AMOUNT" data-toggle="tab"><i class="icon-shopping-cart"></i> {{ form.SET_SELL_AMOUNT.label }}</a></li>
    <li><a href="#SET_SELL_TRIGGER" data-toggle="tab"><i class="icon-screenshot"></i> {{ form.SET_SELL_TRIGGER.label }}</a></li>
    <li><a href="#CANCEL_SET_SELL" data-toggle="tab"><i class="icon-remove"></i> {{ form.CANCEL_SET_SELL.label }}</a></li>

    <li class="nav-header">Log Information</li>
    <li><a href="#DISPLAY_SUMMARY" data-toggle="tab"><i class="icon-list-alt"></i> {{ form.DISPLAY_SUMMARY.label }}</a></li>
    <li><a href="#DUMPLOG_USER" data-toggle="tab"><i class="icon-download-alt"></i> {{ form.DUMPLOG_USER.label }}</a></li>
    <li><a href="#DUMPLOG" data-toggle="tab"><i class="icon-download-alt"></i> {{ form.DUMPLOG.label }}</a></li>
</ul>
